<%= form_with(model: pin) do |form| %>
  <% if pin.errors.any? %>
    <div id="error_explanation">
      <% if pin.errors.count > 1 %>
        <h2><%= pluralize(pin.errors.count, "errores") %> provocaron que esta foto se guarde:</h2>
      <% else %>
        <h2><%= pluralize(pin.errors.count, "error") %> provocó que esta foto se guarde:</h2>
      <% end %>
      <ul>
        <% pin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Descripción" %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label "Imagen" %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Subir Foto", class: 'btn bg-success bg-opacity-70 my-2'%>
  </div>
<% end %>
