<%= paginate @pins%>
<div id="pins" class="row w-100 row-cols-2 row-cols-md-3 g-4">
  <% @pins.each do |pin| %>
    <div class="col p-auto">
      <div class="indexcard card mx-auto">
        <%= link_to image_tag(pin.image.variant(resize_to_fill: [300, 300]), class:"card-img-top"), pin%><!--<hr>-->
        <div class="card-body">
          <h6 class='card-title'><%= pin.user.name if pin.user %></h6>
          <% if pin.user == current_user && user_signed_in? %>
            <%= button_to 'Editar', edit_pin_path(pin), method: :get, class: 'btn bg-success rounded-pill bg-opacity-70 btn-sm my-1', form: {style: 'display:inline-block;'} %>
            <%= button_to 'Eliminar', pin, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn bg-success rounded-pill bg-opacity-70 btn-sm my-1', form: {style: 'display:inline-block;'} %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @pins%>


