<nav class="navbar navbar-expand-lg navbar-light bg-success p-2 text-dark bg-opacity-25 mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pinterested</a>
    <div class="nav navbar-nav navbar-right">
        <%= button_to 'Home', root_path, method: :get, class:"btn btn-dark my-auto mx-1"%>
        <%= button_to 'About Us', home_about_path, method: :get, class:"btn btn-dark my-auto mx-1"%>

        <% if user_signed_in? %>
          <%= button_to 'Edit Profile', edit_user_registration_path, method: :get, class:"btn btn-dark my-auto mx-1" %>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-dark my-auto mx-1" %>
        <% else %>
          <%= button_to "Login", new_user_session_path, method: :get, class:"btn btn-dark my-auto mx-1" %>
          <%= button_to "Join", new_user_registration_path, method: :get, class:"btn btn-dark my-auto mx-1" %>
        <% end %>
    </div>
  </div>
</nav>
